$path_img: "image/";
$hero_bg: linear-gradient(to bottom, #5C2E6C 50%, #C73091);
$menu_bg: linear-gradient(to bottom, #642390 50%,#19074A);
$main_color: #391E88;
$btn_color: linear-gradient(to right, #7633A4 50%, #250D65);