@use "../global/" as g;
.about {
    position: relative;
    &__inner {
    display: flex;
    justify-content: center;
    gap: 0 50px;
    @include g.sp {
    flex-direction: column-reverse;
    }
    @include g.tb {
    flex-direction: column-reverse;
    }
    
    }
    &__icons-bg {
    background: #f0f0f0;
    width: 406px;
    height: 256px;
    border-radius: 88px;
    margin-left: 94px;
    @include g.centerd_flex;
    @include g.sp {
    position: relative;
    width: 100%;
    margin-left: 0;
    height: 190px;
    margin-top: -50px;
    }
    @include g.tb {
     width: 100%;
    margin-left: 0;
    position: relative;
    z-index: -1;
    margin-top: -50px;
    }
    
    }
    &__img-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 200px;
    
    @include g.sp {
    position: relative;
    display: block;
    margin: 0 auto;
    z-index: 2;
    }
    @include g.tb {
    position:relative;
    display: block;
    margin: 0 auto;
    z-index: 2;
    }
    &:hover .about__img {
        @include g.background_img('about_img-hover.png');
        transform: rotateY(180deg);
    }
     
 }
 &__img {
     width: 200px;
    height: 200px;
    @include g.background_img('about_img@2x.png');
    background-size: contain;
    transition: all .2s ease-in-out;
 }
 .fab  {
     font-size: 5rem;
     margin-right: 30px;
     
 }
 .fa-twitter {
    color: #00ACEE;
 }
 .fa-instagram {
     margin-right: 0;
 }

   &__profile {
    text-align: left;
   }


   &__tit {
    margin-bottom: 15px;
    padding-bottom: 5px;
    font-size: 2.2rem;
    font-weight: bold;
    @include g.l_spacing(60);
    border-bottom: 3px solid #EE6161;
    position: relative;
    &::after {
    content: '';
    width: 27.27%;
    height: 3px;
    background: g.$main_color;
    position: absolute;
    left: 0;
    bottom: -3px;
    }
   }
   &__txt {
    @include g.l_height(27,15);
    @include g.sp {
    margin-bottom: 30px;
    }
    @include g.tb {
    margin-bottom: 30px;
    }
   }
  
  
}